body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #e456a9c6;
    padding: 3px;
}

li{
    display: inline-block;
    margin:  0 15px;
}

li a{
    color: #420505;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background-color 0.4s;
}

li a:hover{
    background-color: #3ec8ff;
}

.text1{
    text-align: center;
    font-size: 20px;
    font-family: Comic Sans MS;
}

img{
    width: 600px;
    right: 300px;
}

.carta{
    text-align: center;
}
.carta div{
    width: 150px;
    background-color: #539dc5;
    display: inline-block;
    margin: 0 15px;
    color: #290303b0;
    text-align: center;
    padding: 15px;
    font-family: Comic Sans SM;
}

.carta div img{
    width: 150px;
    height: 150px;
}

.carta a{
    text-decoration: none;
}

footer{
    background-color: #6bbc51;
    color: black;
    padding: 10px;
    text-align: center;
    font-family: Comic Sans MS;
    margin: 10px ;
}

